* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #31241e;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  font-family: "Times New Roman", Times, serif;
  grid-template-rows: 50px 30px 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: #f6f4f3;
}

body > nav {
  grid-area: nav;
  background-color: #f6f4f3;
  display: flex;
  align-items: center;
  padding: 0 20px 0 30px;
  border-bottom: 1.5px solid #31241e;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f4f3;
  padding: 20px;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav > a:hover:not(.active) {
  background-color: #402e2033;
}

nav > a.active {
  color: #86654b;
  font-size: large;
  font-weight: bolder;
  cursor: default;
}

img {
  width: 100px;
  height: 100px;
}

.category-box {
  margin-bottom: 3px;
  min-width: 1000px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgb(214, 210, 210);
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
}

.categories-button {
  margin-top: 3px;
  padding: 10px;
  color: black;
  font-size: 20px;
}
.img-caterogy {
  min-width: 1000px;
  height: 200px;
  margin-left: 30px;
}

.box {
  display: flex;
  flex-direction: row;
}
.items-box {
  background-color: rgb(214, 210, 210);
  max-width: 300px;
  min-height: 400px;
  margin: 40px;
}

.box-text {
  margin: 50px;
  text-align: center;
}

.img-items {
  min-width: 200px;
  height: 250px;
}
