<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <p>&copy; 2024 QuickCart. All rights reserved. Unauthorized use of this material without express and written permission from this site’s owner is strictly prohibited.</p>
    </div>
    <div class="footer-right social-links">
      <a href="https://www.instagram.com/hawraalattar?igsh=YmVtdzNsdTF3YTgy&utm_source=qr" target="_blank">
        <img src="https://www12.0zz0.com/2024/05/29/21/100546452.jpg" alt="Instagram" class="social-icon">
      </a>
      <a href="https://www.tiktok.com/@aarrwah?_t=8kirmGnTY3N&_r=1" target="_blank">
        <img src="https://www5.0zz0.com/2024/05/29/21/459289407.jpg" alt="TikTok" class="social-icon">
      </a>
    </div>
  </div>
</footer>
