<footer class="footer">
  <div class="footer-content">
    <div class="footer-left">
      <p>&copy; 2024 QuickCart. All rights reserved. Unauthorized use of this material without express and written permission from this site’s owner is strictly prohibited.</p>
    </div>
    <div class="footer-right social-links">
      <a href="https://www.instagram.com/yourprofile" target="_blank">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Instagram_icon.png/2048px-Instagram_icon.png" alt="Instagram" class="social-icon">
      </a>
      <a href="https://www.tiktok.com/@yourprofile" target="_blank">
        <img src="https://seeklogo.com/images/T/tiktok-app-icon-logo-0F5AD7AE01-seeklogo.com.png" alt="TikTok" class="social-icon">
      </a>
    </div>
  </div>
</footer>
