<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table>
      <tbody>
        <h1>hello</h1>
        <% items.forEach(item => { %> <% if (item.itemType ===
        categories.categoryName) { %>
        <tr>
          <td><%= item.itemName %></td>
          <td><%= item.itemImg %></td>
          <td><%= item.itemPrice %></td>
          <td><%= item.itemDescription %></td>
        </tr>
        <% } %> <% }); %>
      </tbody>
    </table>
  </body>
</html>
