<%- include('../partials/header') %>

<h1>
  My Basket:
</h1>

<% if (category.item.length) { %>
  <h3>Items</h3>
  <ul>
    <% Basket.item.forEach((item) => { %>
      <li><%= Basket.item %></li>
    <% }); %>
  </ul>
<% } else { %>
  <h5>No Items Yet</h5>
<% } %>


<%- include('../partials/footer') %>